{% extends "base.html.twig" %}

{% block title %}Edition du profil
{% endblock %}

{% block body %}

	<h1>Mon profil</h1>

	{% if is_granted("IS_AUTHENTICATED_FULLY") %}
		<div class="profil">
			{% if user.avatar %}
				<img style="width: 8rem;" src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="Avatar" class="avatar">
			{% endif %}

			<p><span>Nom :</span>
				{{ user.nom }}</p>
			<p><span>Prénom :</span>
				{{ user.prenom }}</p>
			<p><span>Email :</span>
				{{ user.email }}</p>
			<a class="btn btn-primary" href="{{ path('edit_profil') }}">Modifier mon profil</a>
			<a class="btn btn-secondary" href="{{ path('delete_profil') }}">Supptimer mon profil</a>
		</div>

	{% endif %}

{% endblock %}
