{% extends 'base.html.twig' %}

{% block title %}Liste des evenements
{% endblock %}

{% block body %}
	<h1>Mes evenements</h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Description</th>
				<th scope="col">Date début</th>
				<th scope="col">Date fin</th>
				<th scope="col">Lieu</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for event in events %}
				<tr class="table-active">
					<th scope="row">{{ event.titre }}</th>
					<td>{{ event.description }}</td>
					<td>{{ event.datedebut|date("m/d/Y", "Europe/Paris") }}</td>
					<td>{{ event.datefin|date("m/d/Y", "Europe/Paris")  }}</td>
					<td>{{ event.lieu }}</td>
					<td>
						<a href="{{ path('affiche_event', {'id':event.id}) }}" class="btn btn-primary btn-sm">Afficher</a>
						<a href="{{ path('edit_event', {'id':event.id}) }}" class="btn btn-secondary btn-sm">Editer</a>
						<a href="{{ path('del_event', {'id':event.id}) }}" class="btn btn-warning btn-sm"
							onclick="return(confirm('Confirmation de la suppression ?'));">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
